@model CMS.StaticPage
<div class="site-content">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="~/Index">@Resources.Strings.Home</a></li>
                <li class="active">@Resources.Strings.SecuredList</li>
            </ul>
        </div>
    </div><!-- /.breadcrumb-wrapper -->

    <div id="primary" class="content-area">
        <main class="site-main">
            
            <div class="light-bg">
                <div class="inner-top-sm container inner-bottom">
                    <h2>@Resources.Strings.SecuredList</h2>
                    <div class="row inner-bottom">
                        <div class="col-md-12 col-xs-12 col-sm-12 wow fadeInUp" data-wow-delay="0.2s">
                            <form action="~/lists/page" method="post">
                                <input name="isMail" type="hidden" />
                                <fieldset>
                                    <input type="hidden" name="listid" value="@ViewBag.ListID"/>
                                    <div class="form-group">
                                        <input type="password" name="password" class="form-control" placeholder="@Resources.Strings.Password">
                                    </div><!-- /.form-group -->
                                   
                                    <div class="form-actions row">
                                        <div class="col-xs-12 col-sm-6">

                                            <input type="submit" class="btn btn-block btn-lg btn-primary" id="gotobtn" value="@Resources.Strings.GoTo">
                                        </div>
                                    </div>
                                    <div id="contactmsg"></div>
                                </fieldset>
                            </form>
                        </div><!-- /.col -->
                       
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div>
        </main><!-- /.site-main -->
    </div><!-- /.content-area -->
</div>




