<footer id="footer" class="relative dir-rtl">
    @*<hr />*@
    <div class="footer-before oh">
        <div class="row wide">
            <div class="container">
            </div>
        </div>
    </div>
    <div class="footer-container oh">
        <div class="row footer-main">
            <div class="flex-container" style="justify-content:center !important;">
                @*<div id="newsletter_block_left" class="m-l-24 email_subscription block">
            <h4>Subscribe to our newsletter</h4>
            <div class="block_content">


                <form action="javascript:subscirbe()" id="footerNews" method="post" class="newsletter-form relative">
                    <div id="formInputs" class="newsletter-form-input relative">
                        <input id="newsletter-input" class="inputNew newsletter-input" type="email" name="email" placeholder="Enter your email address" value="" required />
                        <svg class="svgic svgic-right-arrow-thin">
                            <use xlink:href="#si-right-arrow-thin"></use>
                        </svg>
                        <button class="submitNewsletter submit-widget-newsletter " name="submitNewsletter" type="submit">Submit</button>
                        <input type="hidden" name="action" value="0" />
                    </div>
                    <div class="newsletter-form-info" id="formResult" style="        display: none">
                        <p id="holder"></p>

                    </div>
                </form>

            </div>
        </div>*@
              
                    <div class="text-align-center col-xl-3 col-lg-3 col-sm-12 col-xs-12 v-web ">
                        <h4 class="module-title">
                            <span>@Resources.Strings.FollowUs</span>
                        </h4>
                        <div id="socialnetworks">
                            <ul class="socialnetworks_menu dib m-t-10">
                                <li class="facebook dib">
                                    <a rel="noreferrer" class="smooth02 icon-fa" target="_blank" href="https://web.facebook.com/VikikFashion/">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="twitter dib">
                                    <a rel="noreferrer" class="smooth02 icon-fa" target="_blank" href="https://www.instagram.com/vikikfashion/">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </a>
                                </li>

                               
                            </ul>
                            <br />
                            <ul class="socialnetworks_menu dib ">
                             

                                <li class="youtube dib">
                                    <a rel="noreferrer" class="smooth02 icon-fa" target="_blank" href="#">
                                        <i class="fa fa-snapchat-square" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="instagram dib">
                                    <a rel="noreferrer" class="smooth02 icon-fa" target="_blank" href="vikikfashion@gmail.com">
                                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="text-align-center col-xl-6 col-lg-6 col-sm-12 col-xs-12 v-web">
                        <h4 style="margin-bottom:0 !important"><span style="border-bottom:0px;">@Resources.Strings.SubscribeToOurNewsletter</span></h4>
                        <div class="block_content footerNews ">
                            <form action="javascript:subscirbe()" id="footerNews" method="post" class="newsletter-form relative">
                                <div id="formInputs" class="newsletter-form-input relative">
                                    <input id="newsletter-input" class="inputNew newsletter-input" type="email" name="email" placeholder="@Resources.Strings.EnterYourEmailAddress" value="" required />
                                    <svg class="svgic svgic-right-arrow-thin">
                                        <use xlink:href="#si-right-arrow-thin"></use>
                                    </svg>
                                    <button class="submitNewsletter submit-widget-newsletter " name="submitNewsletter" type="submit">@Resources.Strings.Submit</button>
                                    <input type="hidden" name="action" value="0" />

                                </div>
                                <div class="newsletter-form-info" id="formResult" style="        display: none">
                                    <p id="holder"></p>

                                </div>
                            </form>

                        </div>
                        <div id="menu-footer">
                            <ul class="socialnetworks_menu dib">
                                <li class=" dib">
                            
                                    <a rel="noreferrer" class="smooth02 " href="~/wsimages/TERMS AND CONDITIONS-converted.pdf" target="_blank">
                                        <span class="line line2">@Resources.Strings.TermsAndConditions</span>
                                    </a>
                                </li> 
                                <li class=" dib">
                                    <a rel="noreferrer" class="smooth02 " href="~/order/UserOrders">
                                        <span class="line line2">@Resources.Strings.Orders</span>
                                    </a>
                                </li>
                                @*<li class=" dib">
            <a rel="noreferrer" class="smooth02 " href="/ContactUs">
                <span class="line line2">Return</span>

            </a>
        </li>*@
                                <li class=" dib">
                                    <a rel="noreferrer" class="smooth02 " href="~/shop/cats/70169/catvik">
                                        <span class="line line2">@Resources.Strings.Shop</span>

                                    </a>
                                </li>
                                <li class=" dib">
                                    <a rel="noreferrer" class="smooth02 " href="/ContactUs">
                                        <span class="line line2">@Resources.Strings.Contact</span>

                                    </a>
                                </li>
                                @*<li class=" dib">
            <a rel="noreferrer" class="smooth02 " href="/AboutUs">
                <span class="line line2">Voucher</span>

            </a>
        </li>*@
                                <li class=" dib">
                                    <a rel="noreferrer" class="smooth02 " href="/AboutUs">
                                        <span class="line line2">@Resources.Strings.App</span>

                                    </a>
                                </li>
                                <li class=" dib">
                                    <a rel="noreferrer" class="smooth02 " href="/ContactUs">
                                        <span class="line line2">@Resources.Strings.Careers</span>

                                    </a>
                                </li>
                                @*<li class=" dib">
            <a rel="noreferrer" class="smooth02 " href="/AboutUs">
                <span class="line line2">MyDesign</span>

            </a>
        </li>*@
                            </ul>
                        </div>
                    </div>
                    <div class=" col-xl-3 col-lg-3 col-sm-12 col-xs-12 v-web in-flex ">
                     
                        <div>
                            <h4 class="text-align-center"><span>@Resources.Strings.Contact</span></h4>
                            <div class="tb-sect m-t-6 m-b-0 m-t-10">
                                <div class="tb-sect-icon icon-fa">
                                    <i class="fa fa-phone" aria-hidden="true" style="transform: rotate(270deg);"></i>
                                </div>
                                <div class="tb-sect-text">
                                    <a href="tel:@Html.Raw(ViewBag.phone1)" class="__cf_email__"><span class="@(ViewBag.Theme=="ar"?"phone-ar ":"")">@Html.Raw(ViewBag.phone1) </span> </a>

                                </div>
                            </div>
                            <br />
                            <div class="tb-sect  m-b-0 ">
                                <div class="tb-sect-icon icon-fa whatsappIcon">
                                    <i class="fa fa-whatsapp" aria-hidden="true"></i>
                                </div>
                                <div class="tb-sect-text">
                                    <a href="https://api.whatsapp.com/send?phone=@ViewBag.whatsapp&text=Hello." class="__cf_email__"><span class="@(ViewBag.Theme=="ar"?"phone-ar ":"")">@Html.Raw(ViewBag.whatsapp) </span> </a>

                                </div>
                            </div>
                            <br />
                            <div class="tb-sect m-b-0">
                                <div class="tb-sect-icon icon-fa">
                                    <i class="fa fa-envelope " aria-hidden="true"></i>
                                </div>
                                <div class="tb-sect-text">
                                    <a href="/ContactUs" class="__cf_email__">@Html.Raw(ViewBag.email1) </a>
                                </div>
                            </div>
                        </div>
                    </div>
               
                    <div class="v-mobile">

                        <div class="text-align-center">
                            <h4><span style="border-bottom:0px;">@Resources.Strings.SubscribeToOurNewsletter</span></h4>
                            <div class="block_content footerNews ">
                                <form action="javascript:subscirbe()" id="footerNews" method="post" class="newsletter-form relative">
                                    <div id="formInputs" class="newsletter-form-input relative">
                                        <input id="newsletter-input" class="inputNew newsletter-input" type="email" name="email" placeholder="@Resources.Strings.EnterYourEmailAddress" value="" required />
                                        <svg class="svgic svgic-right-arrow-thin">
                                            <use xlink:href="#si-right-arrow-thin"></use>
                                        </svg>
                                        <button class="submitNewsletter submit-widget-newsletter " name="submitNewsletter" type="submit">@Resources.Strings.Submit</button>
                                        <input type="hidden" name="action" value="0" />
                                    </div>
                                    <div class="newsletter-form-info" id="formResult" style="        display: none">
                                        <p id="holder"></p>

                                    </div>
                                </form>

                            </div>
                            <div id="menu-footer" style="    margin-top: 10px;">
                                <ul class="socialnetworks_menu dib">
                                    <li class=" dib">
                                        <a rel="noreferrer" class="smooth02 " href="~/wsimages/TERMS AND CONDITIONS-converted.pdf" target="_blank">
                                            <span class="line line2">@Resources.Strings.TermsAndConditions</span>
                                        </a>
                                    </li>
                                    <li class=" dib">
                                        <a rel="noreferrer" class="smooth02 " href="~/order/UserOrders">
                                            @Resources.Strings.Order
                                        </a>
                                    </li>
                                    @*<li class=" dib">
            <a rel="noreferrer" class="smooth02 " href="/ContactUs">
                Return
            </a>
        </li>*@
                                    <li class=" dib">
                                        <a rel="noreferrer" class="smooth02 " href="~/shop/cats/70169/catvik">
                                            @Resources.Strings.Shop
                                        </a>
                                    </li>
                                    <li class=" dib">
                                        <a rel="noreferrer" class="smooth02 " href="/ContactUs">
                                            <span class="line line2">@Resources.Strings.Contact</span>

                                        </a>
                                    </li>
                                    @*<li class=" dib">
            <a rel="noreferrer" class="smooth02 " href="/AboutUs">
                Voucher
            </a>
        </li>*@
                                    <li class=" dib">
                                        <a rel="noreferrer" class="smooth02 " href="/AboutUs">
                                            @Resources.Strings.App
                                        </a>
                                    </li>
                                    <li class=" dib">
                                        <a rel="noreferrer" class="smooth02 " href="/ContactUs">
                                            @Resources.Strings.Careers
                                        </a>
                                    </li>
                                    @*<li class=" dib">
            <a rel="noreferrer" class="smooth02 " href="/AboutUs">
                MyDesign
            </a>
        </li>*@
                                </ul>
                            </div>
                        </div>

                        <div class="text-align-center mt30">
                            <h4 class="module-title">
                                <span>@Resources.Strings.FollowUs</span>
                            </h4>
                            <div id="socialnetworks">
                                <ul class="socialnetworks_menu dib m-t-10">
                                    <li class="facebook dib">
                                        <a rel="noreferrer" class="smooth02 icon-fa" target="_blank" href="https://web.facebook.com/VikikFashion/">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="twitter dib">
                                        <a rel="noreferrer" class="smooth02 icon-fa" target="_blank" href="https://www.instagram.com/vikikfashion/">
                                            <i class="fa fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="youtube dib">
                                        <a rel="noreferrer" class="smooth02 icon-fa" target="_blank" href="vikikfashion@gmail.com">
                                            <i class="fa fa-snapchat-square" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="instagram dib">
                                        <a rel="noreferrer" class="smooth02 icon-fa" target="_blank" href="vikikfashion@gmail.com">
                                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>

                        <div class=" mt30 mrl-auto">
                            <h4 class="text-align-center"><span>@Resources.Strings.Contact</span></h4>
                            <div class="tb-sect m-t-6 m-b-0 m-t-10">
                                <div class="tb-sect-icon icon-fa">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                </div>
                                <div class="tb-sect-text">
                                    <a href="tel:@Html.Raw(ViewBag.phone1)" class="__cf_email__"><span class="@(ViewBag.Theme=="ar"?"phone-ar ":"")">@Html.Raw(ViewBag.phone1) </span>  </a>

                                </div>
                            </div>
                            <br />
                            <div class="tb-sect  m-b-0 ">
                                <div class="tb-sect-icon icon-fa whatsappIcon">
                                    <i class="fa fa-whatsapp" aria-hidden="true"></i>
                                </div>
                                <div class="tb-sect-text">
                                    <a href="https://api.whatsapp.com/send?phone=@ViewBag.whatsapp&text=Hello." class="__cf_email__"><span class="@(ViewBag.Theme=="ar"?"phone-ar ":"")">@Html.Raw(ViewBag.whatsapp) </span>  </a>

                                </div>
                            </div>
                            <br />
                            <div class="tb-sect m-b-0">
                                <div class="tb-sect-icon icon-fa">
                                    <i class="fa fa-envelope " aria-hidden="true"></i>
                                </div>
                                <div class="tb-sect-text">
                                    <a href="/ContactUs" class="__cf_email__">@Html.Raw(ViewBag.email1) </a>
                                </div>
                            </div>
                        </div>
                    </div>
                @*<script data-cfasync="false" src="assets/js/email-decode.min.js"></script>*@
                <script type="6c154a079bf0388ee183c770-text/javascript">
                    ga('send', 'pageview');
                </script>
            </div>
        </div>
        <div class="row footer-after">
            <div class="page-width">
            </div>
        </div>
        <div class="footer-bottom flex-container move-flex-start">
            <div class="page-width flex-container align-items-center text-center">



                <div class="footer_text"> @Resources.Strings.project_name  |  @Resources.Strings.AllRightsReserved  </div>
                <div class="footer_text right"> @Resources.Strings.PoweredBy: &nbsp; <a class="custom-underline " href="http://www.kensoftware.com/" target="_blank"><img class="kenLogo" src="/images/kslogo.png"></a></div>

              
            </div>
        </div>
    </div>
    <div id="fb-root"></div>
</footer>