@model CMS.Product
<div>

    <div class="product-item">

        <div class="product-image-actions">

            <a href="~/Catalog/Product/@Model.ID/@CMS.Helpers.GeneralHelper.CleanForURL(Model.Name)" class="product-image bkwhite">
                <img src="~/@(Model.FullImagePath)_635x811.jpg" alt="@Model.Name">
                @if (Model.OldPrice.HasValue)
                {
                    <div class="product-label"><span>@Resources.Strings.Sale</span></div>
                }
            </a>
            <div class="product-item-info text-left">
                <h3 class="product-title"><a href="~/item/@Model.ID/@CMS.Helpers.GeneralHelper.CleanForURL(Model.Name)">@Model.Name</a></h3>
                <span class="product-price price">
                    @if (Model.OldPrice.HasValue)
                    {
                        <del><span class="amount">@String.Format(Resources.Strings.PriceFormat, Model.OldPrice.Value.ToString("#,##0"))</span></del>
                    }
                    <span class="amount">@String.Format(Resources.Strings.PriceFormat, Model.Price.Value.ToString("#,##0"))</span>
                </span><!-- /.product-price -->


            </div>

            <div class="product-actions">
                <div class="btn-group-product-actions">

                    @if (Model.ShopItem)
                    {
                        <a title="Add to Cart" href="~/cart/add/@Model.ID" class=" custom-btn-4 btn-action btn-block">@Resources.Strings.AddToCart</a>
                    }
                    <a title="View" class="btn  custom-btn-4 btn-action btn-block" href="~/Catalog/Product/@Model.ID/@CMS.Helpers.GeneralHelper.CleanForURL(Model.Name)">@Resources.Strings.View</a>
                    <a title="Remove" class="btn  custom-btn-4 btn-action btn-block" href="~/user/wishlist/add/@Model.ID"><i class="fa fa-trash" style="padding-right:10px"></i> @Resources.Strings.Remove</a>

                </div>
            </div>

        </div><!-- /.product-image -->

    </div><!-- /.product-item -->
</div>