@using CMS;

@section styles{
    <meta property="og:title" content="@Resources.Strings.project_name | @Resources.Strings.ForgotPassword">
    <meta property="og:description" content="@Resources.Strings.Description_Page">
    <meta property="og:image" content="../wsimages/Vikik.jpg">
    <meta property="og:url" content="../member/ForgotPassword">
    <meta property="twitter:title" content="@Resources.Strings.project_name | @Resources.Strings.ForgotPassword">
    <meta property="twitter:description" content="@Resources.Strings.Description_Page">
    <meta property="twitter:image" content="../wsimages/Vikik.jpg">
}
<section class="main-contant-wrapper clearfix dir-rtl" data-location="/templates/layouts/layout-both-columns.tpl">
    <div class="page-width top-content">
        <aside id="notifications">
            <div class="page-width">
            </div>
        </aside>
        <nav data-depth="1" class="breadcrumb page-width container hidden-md-down">
            <div class="row h-100">
                <div class="col-xs-12">
                    <ol class="p-a-0">
                        <li>
                            <a itemprop="item" href="~/index">
                                <span itemprop="name">@Resources.Strings.Home</span>
                            </a>
                            <meta itemprop="position" content="1">
                        </li>
                        <li>
                            <a itemprop="item" href="#">
                                <span itemprop="name">@Resources.Strings.ForgotPassword</span>
                            </a>
                            <meta itemprop="position" content="2">
                        </li>
                    </ol>
                </div>
            </div>
        </nav>
    </div>
    <div class="hook-content_top hook-container wide"></div>
    <div class="page-width main-content">
        <div id="wrapper" class="clearfix container">
            <div class="row">
                <div id="content-wrapper" class="content-wrapper">
                    <section id="main">
                        <section id="content" class="page-content card card-block">
                            <div class="authentication-page">

                                <div class="login-section col-xs-12 col-sm-12">
                                    <section class="login-form">
                                        <form id="form-forgot-password" action="/customer/account/forgotpassword/" method="post">
                                            <input type="hidden" value="c2733939f7ba4ed09cad0c74d2c57771d8b11577" name="YII_CSRF_TOKEN" />

                                            @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                                            {
                                                <div class="row">
                                                    <div class="alert alert-warning alert-dismissable alert-red">
                                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="fa fa-times-circle"></i></button>
                                                        @ViewBag.ErrorMessage
                                                    </div>
                                                </div>
                                            }
                                            <section>
                                                <div class="row">
                                                    <div class="small-12 column">
                                                        <h2>@Resources.Strings.ForgotPassword</h2>
                                                        <p>@Resources.Strings.PleaseEnter</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-md-8">
                                                        <div class="relative">
                                                            <div class="relative">
                                                                <div class="icon-true">
                                                                    <input class="form-control" name="email" required id="email" type="email" value="" placeholder="@Resources.Strings.EmailAddress">
                                                                    <span class="focus-border"><i></i></span>
                                                                    <svg class="svgic input-icon">
                                                                        <use xlink:href="#si-email"></use>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="m-t-20">
                                                    <a class="btn btn-primary" id="send">
                                                        @Resources.Strings.Send
                                                    </a>
                                                    <span id="success" style="color:forestgreen">

                                                    </span>
                                                    <span id="error" style="color:red">
                                                        
                                                    </span>
                                                </div>
                                            </section>
                                        </form>
                                    </section>
                                </div>
                            </div>
                        </section>
                        <footer class="page-footer"></footer>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="hook-content_bottom hook-container wide"></div>
</section>




@section scripts{
    <script src="~/assets/js/jquery.noty.packaged.min.js"></script>
    <script src="~/assets/js/jquery.validate.js" type="text/javascript"></script>
    <script type="text/javascript">
        $('#send').click(function (e) {
            $("#send").css("display","none");
            e.preventDefault();
            $.post("@(Url.Content("~/member/"))RequestReset", { "email": $('#email').val() }).done(function (data) {
                var response = jQuery.parseJSON(data);
                //alert(response.message);

                if (response.pass == 0) {
                    
                        $("#error").text(response.message);
                      setTimeout(function () {
                        $("#error").text("");
                      }, 3000);
                    //var n = noty({ text: response.message, type: 'error', layout: 'center' });
                }
                else {
                      $("#success").text(response.message);
                     setTimeout(function () {
                    $("#success").text("");
                      }, 3000);
                    //var n = noty({ text: response.message, type: 'success', layout: 'center' });
                }
                $("#send").css("display","inline-block");
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("body").attr("id", "authentication");
        });
        $("body").removeClass("lang-en country-us currency-usd layout-full-width page-index tax-display-enabled pm-details-layout1 pm-filter-image header-static cp-only-filter product-grid-4 hide-header-icons gs-lazy-load").addClass("lang-en country-us currency-usd layout-full-width page-authentication tax-display-enabled page-customer-account pm-details-layout1 pm-filter-image header-static cp-only-filter product-grid-4 hide-header-icons gs-lazy-load");
    </script>

}


